<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Primera pregunta</label>
    <input type="text" class="form-control" placeholder="Ingresa tu pregunta">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Segunda pregunta</label>
    <input type="text" class="form-control" placeholder="Ingresa tu pregunta">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Tercera pregunta</label>
    <input type="text" class="form-control" placeholder="Ingresa tu pregunta">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Cuarta pregunta</label>
    <input type="text" class="form-control" placeholder="Ingresa tu pregunta">
  </div>
  <button type="button" class="btn btn-success">Agregar pregunta</button>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
