<nav>
  <a routerLink="/patients">Listar pacientes</a> |
  <a routerLink="/patient/create">Registrar paciente</a> |
  <a routerLink="/patient/101">Ver paciente 101</a> |
  <a routerLink="/patient/101/monitor">Monitorear paciente 101</a> |
  <a routerLink="/patient/101/edit">Editar paciente 101</a>
  <br><br>
  <a routerLink="/forms">Administrar formularios</a> |
  <a routerLink="/form/create">Crear formulario</a> |
  <a routerLink="/form/3">Editar formulario 3</a>
</nav>
<router-outlet></router-outlet>
