<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Nombre completo</label>
    <input type="text" class="form-control" placeholder="Ingresa tu email">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Apellidos</label>
    <input type="text" class="form-control" placeholder="Ingresa tu email">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Ciudad de origen</label>
    <input type="text" class="form-control" placeholder="Ingresa tu email">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Enfermedad</label>
    <input type="text" class="form-control" placeholder="Ingresa tu email">
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
